/* General css */
body{
    width: 100%;
    min-height: 100vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
}
